<form method="post" action="/login">
<div class="form-control">
  <label for="username">Username: </label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">@</div>
    <input type="text" class="form-control" id="username" placeholder="Username" name="username">
  </div>
</div>

<div class="form-control">
  <label for="password">Password: </label>
<div class="input-group mb-2 mr-sm-2 mb-sm-0">
<div class="input-group-addon">@</div>
  <input type="password" class="form-control" id="password" placeholder="Password" name="password">
</div>
</div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>  