<div class="container">
	<div class="jumbotron jumbotron-country text-center">
		<h1 class="display-3">Hello, world!</h1>
		<p class="lead">Select a country you would like more information about. Then, you can add it to your favorites.</p>
		<hr class="my-4">
			<p>Can you guess the name of the country by looking at its flag?</p>
	</div>
</div>
	<section class="p-0" id="portfolio">
		<div class="container">
			<div class="row justify-content-center" id="room"><%@flags.each do |flag|%>
				<div class="col-lg-2 col-md-3 col-sm-4 col-4 flag">
					<a class="portfolio-box text-center" href="/countries/<%=flag.slug%>">
						<img class="img-fluid" src="/img/flags/<%=flag.name%>.svg" alt="no flag">
							<div class="portfolio-box-caption circle">
								<div class="portfolio-box-caption-content">
								<div class="container">
								<div class="row justify-content-center">
									<div class="project-name"><%="#{flag.name}"%>
									
									</div>
									</div>
									</div>
									
								</div>
								
							</div>
							
						</a>
						<p class="text-center mt-1"><%=flag.name%></p>
					</div>
					
					<%end%>
				</div>
			</div>
		</section>