    <section class="text-white edit_logo">
      <div class="container text-center">
        <h2 class="mb-4"></h2>
        <a class="btn btn-light btn-xl sr-button" href="/dashboards/<%=@user.slug%>/edit">Edit Your Profile</a>
      </div>
    </section>

 <section class="p-0" id="portfolio">
      <div class="container">
        <div class="row" id="room">
        <%@user.countries.each do |country|%>
          <div class="col-lg-3 col-sm-6 flag">
            <a class="portfolio-box" href="/countries/<%=country.slug%>">
              <img class="img-fluid" src="/img/flags/<%=country.name%>.svg" alt="">
              <div class="portfolio-box-caption circle">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                  </div>
                </div>
              </div>
            </a>
          </div>
        <%end%>
        </div>
      </div>
    </section>




    