        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase shadow">
              <strong>Your Favorite Source of Free Travel Information</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Welcome to Atlas</p>
            
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/signup">Sign Up &raquo;</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/login">Login &raquo;</a>
          </div>
        </div>
        